
.darken-overlay {
	position:absolute;
	width: 100%;
	background: rgba(0,0,0,.5);
	height: 100%;
	top: 0;
	color: #fff;
	display: flex;
	align-items: center;
}
.green-hr{
	width: 40px;
	height: 4px;
	background: #4fa333;
	margin: 0 auto 1.3rem;
}
.info-module {
	padding: 100px 0;
	text-align: center;
}
.info-module p {
	margin-bottom: 2.5rem;
}
.info-module p.big {
	font-size: 1.2rem;
}
.full-width{
	width: 100%;
	height: 300px;
	position: relative;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	font-size: 2rem;
	text-align: center;
}
.full-width img {
	width: 100%;
	height:auto;
	max-height: 300px;
	overflow: hidden;
}
.grid {
	width: 100%;
}
.grid .item-wrapper{
	width: 19%;
	display: inline-block;
	padding: 7.5px
}
.grid .item{
	padding: 25px;
	background-color: #fff;
	text-align: center;
	width:100%
}
.grid .number{
	font-size: 1.6rem;
	line-height: 1.3;

}
.grid .number.one{
	color: #dc061d;
}
.grid p {
	font-size: .8rem;
	margin-bottom: 0;
}
.grid-icon{
	width: 36px;
	height: 36px;
	margin-bottom: 25px;
}
@media (max-width:991px){
	.grid .item-wrapper{
		width: 33%;
	}
}
@media (max-width:767px){
	.grid .item-wrapper{
		width: 49%;
	}
}

.image-grid .caption{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.5);
	color: #fff;
	display: flex;
	align-items: center;
	text-align: center;
}
.image-grid .item {
	padding: 0;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 400px;
}
.image-grid .caption-elements{
	width: 100%;
}
.image-grid .caption p {
	display: block;
	width: 100%;
	padding: 25px;
}
.image-grid .headline{
	font-weight: normal;
	font-size: 1.5rem;
}
.image-grid .copy {

}
.btn-outline {
	background-color: transparent;
	border:1px solid #fff;
}
.contact-module {
	margin-top: 100px;
}
.contact-module .row {
	padding-top: 50px;
}
.contact-module .left-module, .contact-module .right-module{
	text-align: center;
	padding: 20px
}
.contact-module .left-module {
	background-color: #fff;
	
}
.contact-module .right-module {
	background-color: #3067b0;
	color: #fff;
}
