@font-face { font-family: 'Myriad'; 
			 src: url('fonts/MyriadPro-Regular.otf');
			 font-weight: normal;
			 }
@font-face { font-family: 'Myriad'; 
			 src: url('fonts/MyriadPro-Bold.otf');
			 font-weight: bold;
			 }

body {
	font-family: 'Myriad', Sans-serif;
	line-height: 1.4;
    min-width:340px;
		color: #656464;
}
section {
	background-color: #f7f7f7;
}

h2.title {
	font-weight: bold;
	margin-bottom: 1.3rem;
	color: #000;
	font-size:2.2rem;
	text-align: center;
}
.btn-primary {
	background: #3067b0;
	border-color: #3067b0;
}
.btn{
	padding: 14px 15px 10px;
	font-size:.7rem;
	letter-spacing: .65;
	border-radius: 5px;
	text-transform: uppercase;
}
.green-hr {
    width: 40px;
    height: 4px;
    background: #4fa333;
    margin: 0 auto 1.3rem;
}
.info-module {
    padding: 100px 0;
    /* color: #656464; */
    text-align: center;
}
.green-left-hr {
    width: 40px;
    height: 4px;
    background: #4fa333;
    margin: 0 10px 2.3rem;
}
.green-left-hr2 {
    width: 40px;
    height: 4px;
    background: #4fa333;
    margin: 0 1px 2.3rem;
}
