.val-sol {
	padding: 0;
	margin: 10px 0;
	background: #fff;
		margin: 50px auto;
}
.val-sol img {
	margin-bottom: 30px;
}
.val-sol .slider-wrapper {
	width: 400;
	height: 380px;
	float: left;
	display: inline-block;

}
.text-wrapper {
	padding: 40px 35px ;
	float: left;
	height: 380px;
	width: 440px;
	display: inline-block;
}

.val-sol .label{
	color:#4174b7;
	margin-bottom: 5px;
	
}
.alert-light{
	text-align: left;
	margin-bottom: 0;
	padding:20px;
}
.alert-light p {
	margin:0;
	max-width: 65%;
	color: #4fa333;
	display: inline-block;
	font-size: 1.2rem;
}
.alert-light button {
	float: right;

}
.headline {
	font-weight: bold;
	margin-bottom: 45px;
	font-size: 1.25rem;
}
.tab-module {
	width: 100%;
	position: relative;
	min-height: 300px;
}
.gray{
	height: 60px;
	width:100%;
	background-color: #ecebeb;
	position: relative;
	top: 0
}
.tab-element{
	z-index: 10
}
.tab-content{
	padding: 70px 10px;
}
.tab-module .subtitle{
	font-size: 1.2rem;
	font-weight: bold;
	margin-bottom: 40px;
}
.tab-module .nav-tabs{
	border-color: transparent;
	background: #ecebeb;
	height: 61px
}
.tab-module .nav-item{
	padding: 0
}
.tab-module .nav-links {
	margin: 0;
}
.tab-module a.nav-link {
	color: #9b9b9b;
	width: 100%;
	margin:0;
	padding:19px 16px;
	text-align: center;
	border-radius: 0;
}
.tab-module a.nav-link.active {
	border-top: solid 4px #3067b0;
	color: #5e5d5d;
	background-color: #f7f7f7; 
}
.tab-content .col-sm{
	width: 49.5%;
	display: inline-block;
	vertical-align: top;
}

#carouselValSol1 .carousel-control-next, #carouselValSol1 .carousel-control-prev, 
#carouselValSol2 .carousel-control-next, #carouselValSol2 .carousel-control-prev {
	height: 64px;
	width: 35px;
	background-color: rgba(0,0,0,.5);
	top:39%;
}
