.val-sol {
	padding: 0;
	margin: 10px 0;
	background: #fff;
		margin: 50px auto;
}
.val-sol img {
	margin-bottom: 30px;
}
.val-sol .slider-wrapper {
	width: 400;
	height: 380px;
	float: left;
	display: inline-block;

}
.text-wrapper {
	padding: 40px 35px ;
	float: left;
	height: 380px;
	width: 440px;
	display: inline-block;
}

.val-sol .label{
	color:#4174b7;
	margin-bottom: 5px;
	
}
.headline {
	font-weight: bold;
	margin-bottom: 45px;
	font-size: 1.25rem;
}